:root {
    --color-primary       : #4ea9ff;
    --color-secondary     : #cacaca;
    --color-secondary-dark: #c1c1c1;
    --color-white         : #ffffff;
    --color-black         : #000000;
    --color-text-primary  : #545454;
    --font-size-base      : 1.4rem;
    --font-size-medium    : 1.6rem;

    --dfBackgroundColor: var(--color-white);
    --dfBackgroundSize : 20px;
    --dfBackgroundImage: linear-gradient(to right, rgba(241, 241, 241, 1) 1px, transparent 1px), linear-gradient(to bottom, rgba(241, 241, 241, 1) 1px, transparent 1px);

    --dfNodeFontSize       : var(--font-size-base);
    --dfNodeType           : flex;
    --dfNodeTypeFloat      : none;
    --dfNodeBackgroundColor: var(--color-white);
    --dfNodeTextColor      : var(--color-text-primary);
    --dfNodeBorderSize     : 1px;
    --dfNodeBorderColor    : var(--color-secondary);
    --dfNodeBorderRadius   : 4px;
    --dfNodeMinHeight      : 40px;
    --dfNodeMinWidth       : 140px;
    --dfNodePaddingTop     : 10px;
    --dfNodePaddingBottom  : 10px;
    --dfNodeBoxShadowHL    : 0px;
    --dfNodeBoxShadowVL    : 2px;
    --dfNodeBoxShadowBR    : 12px;
    --dfNodeBoxShadowS     : 1px;
    --dfNodeBoxShadowColor : var(--color-secondary);

    --dfNodeHoverBackgroundColor: var(--color-white);
    --dfNodeHoverTextColor      : var(--color-text-primary);
    --dfNodeHoverBorderSize     : 1px;
    --dfNodeHoverBorderColor    : var(--color-secondary);
    --dfNodeHoverBorderRadius   : 4px;

    --dfNodeHoverBoxShadowHL   : 0px;
    --dfNodeHoverBoxShadowVL   : 2px;
    --dfNodeHoverBoxShadowBR   : 12px;
    --dfNodeHoverBoxShadowS    : 2px;
    --dfNodeHoverBoxShadowColor: var(--color-secondary-dark);

    --dfNodeSelectedBackgroundColor: var(--color-white);
    --dfNodeSelectedTextColor      : var(--color-text-primary);
    --dfNodeSelectedBorderSize     : 1px;
    --dfNodeSelectedBorderColor    : var(--color-secondary);
    --dfNodeSelectedBorderRadius   : 4px;

    --dfNodeSelectedBoxShadowHL   : 0px;
    --dfNodeSelectedBoxShadowVL   : 2px;
    --dfNodeSelectedBoxShadowBR   : 12px;
    --dfNodeSelectedBoxShadowS    : 2px;
    --dfNodeSelectedBoxShadowColor: var(--color-primary);

    --dfInputBackgroundColor: var(--color-white);
    --dfInputBorderSize     : 2px;
    --dfInputBorderColor    : var(--color-secondary);
    --dfInputBorderRadius   : 50px;
    --dfInputLeft           : -25px;
    --dfInputHeight         : 15px;
    --dfInputWidth          : 15px;

    --dfInputHoverBackgroundColor: var(--color-primary);
    --dfInputHoverBorderSize     : 2px;
    --dfInputHoverBorderColor    : var(--color-secondary);
    --dfInputHoverBorderRadius   : 50px;

    --dfOutputBackgroundColor: var(--color-white);
    --dfOutputBorderSize     : 2px;
    --dfOutputBorderColor    : var(--color-secondary);
    --dfOutputBorderRadius   : 50px;
    --dfOutputRight          : -6px;
    --dfOutputHeight         : 15px;
    --dfOutputWidth          : 15px;

    --dfOutputHoverBackgroundColor: var(--color-primary);
    --dfOutputHoverBorderSize     : 2px;
    --dfOutputHoverBorderColor    : var(--color-secondary);
    --dfOutputHoverBorderRadius   : 50px;

    --dfLineWidth        : 3px;
    --dfLineColor        : #4fa8ff;
    --dfLineHoverColor   : #1e74ff;
    --dfLineSelectedColor: #0015ff;

    --dfRerouteBorderWidth    : 2px;
    --dfRerouteBorderColor    : var(--color-secondary);
    --dfRerouteBackgroundColor: var(--color-white);

    --dfRerouteHoverBorderWidth    : 2px;
    --dfRerouteHoverBorderColor    : var(--color-secondary);
    --dfRerouteHoverBackgroundColor: var(--color-primary);

    --dfDeleteDisplay        : block;
    --dfDeleteColor          : var(--color-primary);
    --dfDeleteBackgroundColor: var(--color-white);
    --dfDeleteBorderSize     : 2px;
    --dfDeleteBorderColor    : var(--color-primary);
    --dfDeleteBorderRadius   : 50px;
    --dfDeleteTop            : -15px;

    --dfDeleteHoverColor          : var(--color-white);
    --dfDeleteHoverBackgroundColor: var(--color-primary);
    --dfDeleteHoverBorderSize     : 2px;
    --dfDeleteHoverBorderColor    : var(--color-secondary);
    --dfDeleteHoverBorderRadius   : 50px;

}

#drawflow {
    background      : var(--dfBackgroundColor);
    background-size : var(--dfBackgroundSize) var(--dfBackgroundSize);
    background-image: var(--dfBackgroundImage);
}

.drawflow .drawflow-node {
    font-size         : var(--dfNodeFontSize);
    display           : var(--dfNodeType);
    background        : var(--dfNodeBackgroundColor);
    color             : var(--dfNodeTextColor);
    border            : var(--dfNodeBorderSize) solid var(--dfNodeBorderColor);
    border-radius     : var(--dfNodeBorderRadius);
    min-height        : var(--dfNodeMinHeight);
    width             : auto;
    min-width         : var(--dfNodeMinWidth);
    padding-top       : var(--dfNodePaddingTop);
    padding-bottom    : var(--dfNodePaddingBottom);
    -webkit-box-shadow: var(--dfNodeBoxShadowHL) var(--dfNodeBoxShadowVL) var(--dfNodeBoxShadowBR) var(--dfNodeBoxShadowS) var(--dfNodeBoxShadowColor);
    box-shadow        : var(--dfNodeBoxShadowHL) var(--dfNodeBoxShadowVL) var(--dfNodeBoxShadowBR) var(--dfNodeBoxShadowS) var(--dfNodeBoxShadowColor);
}

.drawflow .drawflow-node:hover {
    background        : var(--dfNodeHoverBackgroundColor);
    color             : var(--dfNodeHoverTextColor);
    border            : var(--dfNodeHoverBorderSize) solid var(--dfNodeHoverBorderColor);
    border-radius     : var(--dfNodeHoverBorderRadius);
    -webkit-box-shadow: var(--dfNodeHoverBoxShadowHL) var(--dfNodeHoverBoxShadowVL) var(--dfNodeHoverBoxShadowBR) var(--dfNodeHoverBoxShadowS) var(--dfNodeHoverBoxShadowColor);
    box-shadow        : var(--dfNodeHoverBoxShadowHL) var(--dfNodeHoverBoxShadowVL) var(--dfNodeHoverBoxShadowBR) var(--dfNodeHoverBoxShadowS) var(--dfNodeHoverBoxShadowColor);
}

.drawflow .drawflow-node.selected {
    background        : var(--dfNodeSelectedBackgroundColor);
    color             : var(--dfNodeSelectedTextColor);
    border            : var(--dfNodeSelectedBorderSize) solid var(--dfNodeSelectedBorderColor);
    border-radius     : var(--dfNodeSelectedBorderRadius);
    -webkit-box-shadow: var(--dfNodeSelectedBoxShadowHL) var(--dfNodeSelectedBoxShadowVL) var(--dfNodeSelectedBoxShadowBR) var(--dfNodeSelectedBoxShadowS) var(--dfNodeSelectedBoxShadowColor);
    box-shadow        : var(--dfNodeSelectedBoxShadowHL) var(--dfNodeSelectedBoxShadowVL) var(--dfNodeSelectedBoxShadowBR) var(--dfNodeSelectedBoxShadowS) var(--dfNodeSelectedBoxShadowColor);
}

.drawflow .drawflow-node .input {
    left         : var(--dfInputLeft);
    background   : var(--dfInputBackgroundColor);
    border       : var(--dfInputBorderSize) solid var(--dfInputBorderColor);
    border-radius: var(--dfInputBorderRadius);
    height       : var(--dfInputHeight);
    width        : var(--dfInputWidth);
}

.drawflow .drawflow-node .input:hover {
    background   : var(--dfInputHoverBackgroundColor);
    border       : var(--dfInputHoverBorderSize) solid var(--dfInputHoverBorderColor);
    border-radius: var(--dfInputHoverBorderRadius);
}

.drawflow .drawflow-node .outputs {
    float: var(--dfNodeTypeFloat);
}

.drawflow .drawflow-node .output {
    right        : var(--dfOutputRight);
    background   : var(--dfOutputBackgroundColor);
    border       : var(--dfOutputBorderSize) solid var(--dfOutputBorderColor);
    border-radius: var(--dfOutputBorderRadius);
    height       : var(--dfOutputHeight);
    width        : var(--dfOutputWidth);
}

.drawflow .drawflow-node .output:hover {
    background   : var(--dfOutputHoverBackgroundColor);
    border       : var(--dfOutputHoverBorderSize) solid var(--dfOutputHoverBorderColor);
    border-radius: var(--dfOutputHoverBorderRadius);
}

.drawflow .connection .main-path {
    stroke-width: var(--dfLineWidth);
    stroke      : var(--dfLineColor);
}

.drawflow .connection .main-path:hover {
    stroke: var(--dfLineHoverColor);
}

.drawflow .connection .main-path.selected {
    stroke: var(--dfLineSelectedColor);
}

.drawflow .connection .point {
    stroke      : var(--dfRerouteBorderColor);
    stroke-width: var(--dfRerouteBorderWidth);
    fill        : var(--dfRerouteBackgroundColor);
}

.drawflow .connection .point:hover {
    stroke      : var(--dfRerouteHoverBorderColor);
    stroke-width: var(--dfRerouteHoverBorderWidth);
    fill        : var(--dfRerouteHoverBackgroundColor);
}

.drawflow-delete {
    display      : var(--dfDeleteDisplay);
    color        : var(--dfDeleteColor);
    background   : var(--dfDeleteBackgroundColor);
    border       : var(--dfDeleteBorderSize) solid var(--dfDeleteBorderColor);
    border-radius: var(--dfDeleteBorderRadius);
}

.parent-node .drawflow-delete {
    top: var(--dfDeleteTop);
}

.drawflow-delete:hover {
    color        : var(--dfDeleteHoverColor);
    background   : var(--dfDeleteHoverBackgroundColor);
    border       : var(--dfDeleteHoverBorderSize) solid var(--dfDeleteHoverBorderColor);
    border-radius: var(--dfDeleteHoverBorderRadius);
}